<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<springProperty scope="context" name="app.name" source="logger.app.name"/>
	<springProperty scope="context" name="logs-folder" source="logger.app.logs-folder"/>

	<springProfile name="prod | test">
		<appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${logs-folder}/${app.name}.log</file>
			<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level ${app.name} [%thread] %logger{36} - %msg%n</Pattern>
			</encoder>
			<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
				<fileNamePattern>${logs-folder}/archive/${app.name}_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
				<maxHistory>5</maxHistory>
				<totalSizeCap>5MB</totalSizeCap>
				<maxFileSize>1MB</maxFileSize>
			</rollingPolicy>
		</appender>
		<root level="info">
			<appender-ref ref="RollingFile"/>
		</root>
	</springProfile>

	<springProfile name="dev">
		<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
			<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level ${app.name} [%thread] %logger{36} - %msg%n</Pattern>
			</encoder>
		</appender>
		<root level="info">
			<appender-ref ref="Console" />
		</root>
	</springProfile>
</configuration>
